<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>Plato</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div class="elements">
            <!-- gutter sizer -->
            <div class="element__gutter"></div>

            <!-- column sizer -->
            <div class="element__column"></div>

	    <div class='el elw2 intro' data-category='intro'>
		    <p>Welcome to my stream of consciousness.</p>
		    <p>opyate.com is currently being rendered by <a href="https://github.com/UYSio/plato-tools">₽lato</a>.</p>
		    <p>If you see broken links or other ugliness, please <a href="mailto:opyate+plato@gmail.com?subject=ugliness">let me know</a>.</p>
		    <br>
		    <p><a href="https://indiewebcamp.com/why">Why?</a></p>
	    </div>
